<template>
  <div
    class="section"
    id="carousel"
    style="background-image: url('img/white.jpg'); background-size: cover; background-position: top center;"
  >
   <h2 class="h1-seo text-center" style="color: #00FF00" >SERVICES CATEGORIES</h2>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8"></div>
      </div>
      <el-carousel height="650px">
        <el-carousel-item>
          <img class="d-block" src="img/hiit.jpg" alt="First slide" />
          <div class="carousel-caption d-none d-md-block">
            <h6  style="font-size:200%; color:Chartreuse  ">High Intensity Interval Training</h6>
          </div>
        </el-carousel-item>
        <el-carousel-item>
          <img class="d-block" src="img/zumba1.jpg" alt="Second slide" />
          <div class="carousel-caption d-none d-md-block">
            <h6 style="font-size:200%; color:Chartreuse ">Zumba</h6>
          </div>
        </el-carousel-item>
        <el-carousel-item>
          <img class="d-block" src="img/bootcamp.jpg" alt="Third slide" />
          <div class="carousel-caption d-none d-md-block">
            <h6 style="font-size:200%; color:Chartreuse ">Bootcamp</h6>
          </div>
        </el-carousel-item>
        <el-carousel-item>
          <img class="d-block" src="img/BarreWorkouts.jpg" alt="Third slide" />
          <div class="carousel-caption d-none d-md-block">
            <h6 style="font-size:200%; color:Chartreuse  ">Barre Workouts</h6>
          </div>
        </el-carousel-item>
        <el-carousel-item>
          <img class="d-block" src="img/boxing.jpg" alt="Third slide" />
          <div class="carousel-caption d-none d-md-block">
            <h6 style="font-size:200%; color:Chartreuse  ">Boxing</h6>
          </div>
        </el-carousel-item>
          <el-carousel-item>
          <img class="d-block" src="img/weight-training.jpg" alt="Third slide" />
          <div class="carousel-caption d-none d-md-block">
            <h6 style="font-size:200%; color:Chartreuse  ">Weight Training</h6>
          </div>
        </el-carousel-item>
            <el-carousel-item>
          <img class="d-block" src="img/yoga.jpg" alt="Third slide" />
          <div class="carousel-caption d-none d-md-block">
            <h6 style="font-size:200%; color:Chartreuse  ">YOGA</h6>
          </div>
        </el-carousel-item>
          <el-carousel-item>
          <img class="d-block" src="img/Martial-Arts.png" alt="Third slide" />
          <div class="carousel-caption d-none d-md-block">
            <h6 style="font-size:200%; color:Chartreuse  ">Martial Arts</h6>
          </div>
        </el-carousel-item>
      </el-carousel>
    </div>
  </div>
</template>
<script>
import { Carousel, CarouselItem } from "element-ui";

export default {
  components: {
    [Carousel.name]: Carousel,
    [CarouselItem.name]: CarouselItem
  }
};
</script>
<style></style>
