<template>
  <div
    id="plan"
    class="section section-plan"
    style="background-image: url('img/login.jpg'); background-size: cover; background-position: top center;"
  >
    <h2 class="h1-seo text-center" style="color: #00FF00">MEMBERSHIP PLANS</h2>
    <!-- 1 month plan -->
    <div class="row">
      <div class="col-md-3">
        <div class="container">
          <div class="row">
            <card class="card-signup" header-classes="text-center" color="green">
              <template slot="header">
                <h2 class="card-title title-up" style="font-size:240%;">1 Month Plan</h2>
                <h5 class="card-title title-up">₱3,800 Per Month</h5>
                <div class="social-line"></div>
              </template>
              <template>
                <center>
                  <h5>Free Towel</h5>
                  <h5>Free Wifi</h5>
                  <h5>24/7 Access</h5>
                  <h5>Fit Rewards</h5>
                  <h5>Full Facility Access</h5>
                </center>
              </template>
              <div class="card-footer text-center">
                <n-button type="default" round size="lg">Sign Up</n-button>
              </div>
            </card>
          </div>
        </div>
      </div>
      <!-- 3 months plan -->
      <div class="col-md-3">
        <div class="container">
          <div class="row">
            <card class="card-signup" header-classes="text-center" color="green">
              <template slot="header">
                <h2 class="card-title title-up" style="font-size:240%;">3 Months Plan</h2>
                <h5 class="card-title title-up">₱8,400 Per Month</h5>
                <div class="social-line"></div>
              </template>
              <template>
                <center>
                  <h5>Free Towel</h5>
                  <h5>Free Wifi</h5>
                  <h5>24/7 Access</h5>
                  <h5>Fit Rewards</h5>
                  <h5>Full Facility Access</h5>
                </center>
              </template>
              <div class="card-footer text-center" >
                <n-button type="default" round size="lg">Sign Up</n-button>
              </div>
            </card>
          </div>
        </div>
      </div>
      <!-- 6 months plan -->
      <div class="col-md-3">
        <div class="container">
          <div class="row">
            <card class="card-signup" header-classes="text-center" color="green">
              <template slot="header">
                <h2 class="card-title title-up" style="font-size:240%;">6 Months Plan</h2>
                <h5 class="card-title title-up">₱16,500 Per Month</h5>
                <div class="social-line"></div>
              </template>
              <template>
                <center>
                  <h5>Free Towel</h5>
                  <h5>Free Wifi</h5>
                  <h5>24/7 Access</h5>
                  <h5>Fit Rewards</h5>
                  <h5>Full Facility Access</h5>
                </center>
              </template>
              <div class="card-footer text-center">
                <n-button type="default" round size="lg">Sign Up</n-button>
              </div>
            </card>
          </div>
        </div>
      </div>
      <!-- 12 months plan -->
      <div class="col-md-3">
        <div class="container">
          <div class="row">
            <card class="card-signup" header-classes="text-center" color="green">
              <template slot="header">
                <h2 class="card-title title-up" style="font-size:240%;">12 Months Plan</h2>
                <h5 class="card-title title-up">₱28,000 Per Month</h5>
                <div class="social-line"></div>
              </template>
              <template>
                <center>
                  <h5>Free Towel</h5>
                  <h5>Free Wifi</h5>
                  <h5>24/7 Access</h5>
                  <h5>Fit Rewards</h5>
                  <h5>Full Facility Access</h5>
                </center>
              </template>
              <div class="card-footer text-center">
                <n-button type="default" round size="lg">Sign Up</n-button>
              </div>
            </card>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { Card, FormGroupInput, Button } from "@/components";

export default {
  components: {
    Card,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput
  }
};
</script>
<style>
</style>
