<template>
  <div class="page-header">
    <div class="page-header-image" style="background-image: url('img/login.jpg')"></div>
    <div class="content " style="position:relative;bottom:rem ">
    <div class="container">
      <div class="col-md-5 ml-auto mr-auto">
        <img v-lazy="'img/test2.png'  " alt />
        <card type="login" plain>
          <div slot="header" class="logo-container"></div>

          <fg-input
            type="text"
            id="username"
            v-model="username"
            class="no-border input-lg"
            style="position:relative;bottom:1rem"
            addon-left-icon="now-ui-icons users_circle-08"
            placeholder="Username"
          ></fg-input>

          <fg-input
            type="password"
            id="password"
            v-model="password"
            class="no-border input-lg"
            style="position:relative;bottom:3rem"
            addon-left-icon="now-ui-icons ui-1_lock-circle-open"
            placeholder="Password"
          ></fg-input>

          <template slot="raw-content">
            <a
              id="login"
              href="#Dashboard"
              class="btn btn-success btn-round btn-lg btn-block"
              style="position:relative;bottom:8rem"
            >LOGIN</a>
          </template>
        </card>
      </div>
    </div>
  </div>
  </div>
</template>
<script>
import { Card, Button, FormGroupInput } from "@/components";
import MainFooter from "@/layout/MainFooter";
export default {
  data() {
    return {
      username: "",
      password: ""
    };
  },
  name: "login-page",
  bodyClass: "login-page",
  components: {
    Card,
    MainFooter,
    [Button.name]: Button,
    [FormGroupInput.name]: FormGroupInput
  }
};
</script>
<style>
/* body{
  overflow: hidden
} */
</style>
