<template>
  <div>
    <div class="page-header clear-filter" filter-color="gray">
      <parallax class="page-header-image" style="background-image:url('img/header.jpg')"></parallax>
      <div class="container">
        <div class="content-center brand">
          <img
            class="fitnessgym-logo"
            src="img/lg-logo.png"
            style="position:relative;bottom: -15rem"
            alt
          />
          <h1 class="h1-seo" style="position:relative;bottom: -15rem">LOU GEH FITNESS SHOP</h1>
        </div>
      </div>
    </div>
    <plan></plan>
    <Merchandise></Merchandise>
  </div>
</template>
<script>
import { Parallax } from "@/components";
import JavascriptComponents from "./components/JavascriptComponents";
import CarouselSection from "./components/CarouselSection";
import Merchandise from "./components/Merchandise";

export default {
  name: "shop",
  bodyClass: "shop-page",
  components: {
    Parallax,
    JavascriptComponents,
    CarouselSection,
    Merchandise,

  }
};
</script>
<style></style>
