<template>
  <navbar
    position="fixed"
    type="success"
    :transparent="transparent"
    :color-on-scroll="colorOnScroll"
    menu-classes="ml-auto"
  >
    <template slot-scope="{ }">
      <a href="#main" class="navbar-brand">LOU GEH FITNESS GYM</a>
    </template>

    <template slot="navbar-menu">
      <li id="Services" class="nav-item">
        <a class="nav-link" href="#carousel" style>
          <i class="now-ui-icons ui-2_settings-90"></i>
          <p>Services</p>
        </a>
      </li>
      <li id="Membership" class="nav-item">
        <a class="nav-link" href="#plan" style>
          <i class="now-ui-icons business_badge"></i>
          <p>Membership Plan</p>
        </a>
      </li>
      <li id="shop" class="nav-item">
        <a class="nav-link" href="#/shop" target="_blank">
          <i class="now-ui-icons shopping_cart-simple"></i>
          <p>Shop</p>
        </a>
      </li>

      <li id="login" class="nav-item">
        <a class="nav-link" href="#/login" target="_blank">
          <i class="now-ui-icons users_circle-08"></i>
          <p>Login</p>
        </a>
      </li>

      <drop-down tag="li" title="Examples" icon="now-ui-icons design_image" class="nav-item">
        <nav-link to="/landing">
          <i class="now-ui-icons education_paper"></i> Landing
        </nav-link>

        <nav-link to="/profile">
          <i class="now-ui-icons users_single-02"></i> Profile
        </nav-link>
      </drop-down>
    </template>
  </navbar>
</template>

<script>
import { DropDown, NavbarToggleButton, Navbar, NavLink } from "@/components";
import { Popover } from "element-ui";
export default {
  name: "main-navbar",
  props: {
    transparent: Boolean,
    colorOnScroll: Number
  },
  components: {
    DropDown,
    Navbar,
    NavbarToggleButton,
    NavLink,
    [Popover.name]: Popover
  }
};
</script>

<style scoped></style>
